.btn
	color: $white
	font-size: 18px
	line-height: 1.428571
	height: 40px
	background-color: transparent
	border: 1px solid transparent
	font-family: Lato !important
	padding: 7px 13px
	border-radius: 6px
	margin-top: 0.7em !important
	margin: 0px 5px
	display: inline-block
	text-decoration: none
	text-align: center
	vertical-align: middle
	box-sizing: border-box
	transition: all 0.5s
	&:hover
		background-color: transparent
	&:active,
	&.active,
	&:focus
		background-color: transparent

.btn-default
	color: $text-dark
	background-color: $white
	border-color: $input-stroke
	padding: 9px 13px

.btn-help
	font-size: 12px
	border: 1px solid $white
	border-radius: 5px
	color: $white
	background-color: $extra
	line-height: 32px
	padding: 8px 16px
	&:hover
		background-color: $white
		color: $extra !important
	&:active,
	&.active
		background-color: $white
		color: $extra !important
.btn-primary-1
	color: $white
	background-color: $primary
	border-color: $primary
	padding: 7px 13px
	width: 150px
	font-size: 18px
	&:hover
		background-color: $primary-hover
		color: $white
	&:active,
	&:focus,
	&.active
		background-color: $primary-active !important
		color: $white
.btn-text
	line-height: 9px
	margin: 0px 5px !important
.t-inside
	margin-top: 6px
	font-size: 12px
.btn-small
	background-color: $white
	font-size: 18px !important
	border: 1px solid $input-stroke
	color: $text-dark
	padding: 9px 14px !important
	&:hover
		background-color: $primary
		color: $white
	&:active,
	&.active
		background-color: $primary
		color: $white
.btn-medium
	padding: 9px 13px !important
	font-size: 14px !important
	box-sizing: border-box
.btn-large
	font-size: 22px
	padding: 9px 2.552%
.btn-secondary
	color: $white
	background-color: $secondary
	padding: 9px 13px
	font-size: 18px
	&:hover
		background-color: $secondary-hover
	&:active,
	&.active
		background-color: $secondary-active
.btn-extra
	color: $extra
	background-color: $white
	font-size: 18px
	border-color: $extra
	border: 2px solid $extra
	padding: 9px 13px
	&:hover
		color: $white
		background-color: $extra
	&:active,
	&.active
		background-color: $extra-active
.btn-extra-medium
	color: $extra
	background-color: $white
	font-size: 14px
	border-color: $extra
	border: 2px solid $extra
	&:hover
		color: $white
		background-color: $extra
	&:active,
	&.active
		background-color: $extra-active
.btn-icon-right
	position: relative
	padding-right: 45px
	i
		position: absolute
		right: 15px
		top: 0px
		bottom: 0px
		margin: auto
.btn-icon-left
	position: relative
	padding-left: 45px
	i
		position: absolute
		left: 15px
		top: 0px
		bottom: 0px
		margin: auto
.btn-close
	width: 40px
	height: 40px
	position: absolute
	bottom: 15px
	right: 15px
	z-index: 1
