//_fonts.sass
@font-face
  font-family: 'LatoLight'
  src: url(../fonts/Lato-Light.ttf)

@font-face
  font-family: 'LatoRegular'
  src: url(../fonts/Lato-Regular.ttf)

@font-face
  font-family: 'LatoItalic'
  src: url(../fonts/Lato-Italic.ttf)

@font-face
  font-family: 'LatoBold'
  src: url(../fonts/Lato-Bold.ttf)

@font-face
  font-family: 'LatoMedium'
  src: url(../fonts/Lato-Medium.ttf)
