.form-control
	font-family: inherit
	font-size: 18px
	cursor: auto
	border-radius: 4px
	padding: 12px
	font-weight: 400
	border: 2px solid $input-stroke
	color: $lines

.form-currency
	font-family: inherit
	font-size: 18px
	text-align: center
	cursor: auto
	border-radius: 4px
	padding: 12px
	font-weight: 400
	border: 2px solid $input-stroke
	color: $lines
	height: 40px
	width: 100px

input[type="checkbox"]
	display: none

input[type="checkbox"].checkbox
	cursor: pointer

input[type="checkbox"]:checked +.checkbox:before
	background: url(../images/iconos/check-selected.png)

.has-success
	border: 2px solid $primary
	color: #82bc00

.has-error
	border: 2px solid $secondary
	color: $secondary

.has-inactive
	border: 2px solid $input-stroke
	color: $input-stroke

.checkbox:before
	content: ""
	background: url(../images/iconos/check.png)
	display: inline-block
	margin-right: 5px //espacio entre la imagen y el texto
	text-align: center
	vertical-align: middle
	height: 19px
	width: 19px

select.form-control
	width: 230px