.icn
	vertical-align: middle
	margin: 0px 12px 0px 5px
	display: inline-block
	background: center no-repeat

.icn-paso-1-rojo
	margin: 0px 5px
	background-image: url(../images/iconos/paso-1-rojo.png)
	width: 38px
	height: 38px
.icn-paso-2-rojo
	background-image: url(../images/iconos/paso-2-rojo.png)
	width: 38px
	height: 38px
.icn-paso-3-rojo
	background-image: url(../images/iconos/paso-3-rojo.png)
	width: 38px
	height: 38px

.icn-paso-1-gris
	background-image: url(../images/iconos/paso-1-gris.png)
	width: 38px
	height: 38px
.icn-paso-2-gris
	background-image: url(../images/iconos/paso-2-gris.png)
	width: 38px
	height: 38px
.icn-paso-3-gris
	background-image: url(../images/iconos/paso-3-gris.png)
	width: 38px
	height: 38px

.icn-continuar
	background-image: url(../images/iconos/continuar.png)
	width: 8px
	height: 14px
	background-repeat: no-repeat
.icn-anterior
	background-image: url(../images/iconos/anterior.png)
	width: 11px
	height: 20px
	float: left
.icn-siguiente
	background-image: url(../images/iconos/siguiente.png)
	width: 11px
	height: 20px

.icn-alerta
	background-image: url(../images/iconos/alerta.png)
	width: 19px
	height: 16px

.icn-ok
	background-image: url(../images/iconos/ok.png)
	width: 34px
	height: 34px

.icn-interrogacion
	background-image: url(../images/iconos/interrogacion.png)
	width: 24px
	height: 24px

.icn-coberturas
	background-image: url(../images/iconos/coberturas.png)
	width: 18px
	height: 23px
	float: left !important

.icn-cerrar
	background-image: url(../images/iconos/cerrar.png)
	width: 24px
	height: 24px

.icn-descarga
	background-image: url(../images/iconos/descarga.png)
	width: 26px
	height: 26px
	float: left

.icn-barra
	background-image: url(../images/iconos/barra.png)
	width: 224px
	height: 8px
	top: 5px
//images
#logo
	background-image: url("../images/logo.png")
	background-repeat: no-repeat
	background-position: right top
	height: 160px
	width: 74px

i.crab
	display: inline-block
	margin: 50px 0 0 0
	padding-top: 0px
	padding-bottom: 0px
	background-image: url(../images/assets/z-oncologico.png)
	background-repeat: no-repeat
	height: 93px
	width: 131px
i.salud
	display: inline-block
	margin: 25px 0 0 0
	padding-top: 0px
	padding-bottom: 0px
	background-image: url(../images/assets/z-salud.png)
	background-repeat: no-repeat
	height: 120px
	width: 91px

i.vehicular
	display: inline-block
	margin: 43px 0 0 0
	padding-top: 0px
	padding-bottom: 0px
	background-image: url(../images/assets/z-brother-car.png)
	background-repeat: no-repeat
	height: 103px
	width: 138px

i.vida
	display: inline-block
	padding-top: 0px
	padding-bottom: 0px
	background-image: url(../images/assets/vida.png)
	background-repeat: no-repeat
	height: 524px
	width: 417px

i.configure
	display: inline-block
	padding-top: 0px
	padding-bottom: 0px
	background-image: url(../images/assets/s-configure.png)
	background-repeat: no-repeat
	height: 54px
	width: 54px

i.consult
	display: inline-block
	padding-top: 0px
	padding-bottom: 0px
	background-image: url(../images/assets/s-consult.png)
	background-repeat: no-repeat
	height: 54px
	width: 54px

i.detail
	display: inline-block
	padding-top: 0px
	padding-bottom: 0px
	background-image: url(../images/assets/s-detail.png)
	background-repeat: no-repeat
	height: 54px
	width: 54px

i.emergency
	display: inline-block
	padding-top: 0px
	padding-bottom: 0px
	background-image: url(../images/assets/s-emergency.png)
	background-repeat: no-repeat
	height: 54px
	width: 54px

i.search
	display: inline-block
	padding-top: 0px
	padding-bottom: 0px
	background-image: url(../images/assets/s-search.png)
	background-repeat: no-repeat
	height: 54px
	width: 54px

i.update
	display: inline-block
	padding-top: 0px
	padding-bottom: 0px
	background-image: url(../images/assets/s-update.png)
	background-repeat: no-repeat
	height: 54px
	width: 54px

i.banner-01
	display: inline-block
	margin: 0 0px 0 -13px
	padding-top: 0px
	padding-bottom: 0px
	background-image: url(../images/assets/banner.png)
	background-repeat: no-repeat
	height: 184px
	width: 285px

i.estar-bien
	display: inline-block
	margin: 1px 0 0 -30px
	padding-top: 0px
	padding-bottom: 0px
	background-image: url(../images/assets/brother-bien.png)
	background-repeat: no-repeat
	height: 149px
	width: 77px

@media (max-width: 991px)
	i.estar-bien
		display: inline-block
		margin: 18px 0 0 0;
		padding-top: 0px
		padding-bottom: 0px
	.panel-big .panel-contenido
		margin: 0 auto
		text-align: center
	a.btn.btn-primary-1#btn-final
		margin-bottom: 35px !important

i.prev
	display: inline-block
	margin: 100px 0 0 48px
	padding-top: 0px
	padding-bottom: 0px
	background-image: url(../images/assets/prev.png)
	background-repeat: no-repeat
	height: 20px
	width: 11px

i.next
	display: inline-block
	margin: 100px 48px 0 0
	padding-top: 0px
	padding-bottom: 0px
	background-image: url(../images/assets/next.png)
	background-repeat: no-repeat
	height: 20px
	width: 11px

i.prev-sm, i.prev-end
	display: inline-block
	position: absolute
	background-image: url(../images/assets/prev.png)
	background-repeat: no-repeat
	height: 20px
	width: 11px

i.next-sm, i.next-end
	display: inline-block
	position: absolute
	background-image: url(../images/assets/next.png)
	background-repeat: no-repeat
	height: 20px
	width: 11px

// @media (max-width: 460px)
// 	i.prev-sm#detalle
// 		display: inline-block
// 		position: absolute
// 		margin: 100px 0 0 -206px
// 		padding-top: 0px
// 		padding-bottom: 0px

// 	i.next-sm#detalle
// 		display: inline-block
// 		position: absolute
// 		margin: 100px 0 0 196px
// 		padding-top: 0px
// 		padding-bottom: 0px

@media (max-width: 991px)
	i.prev-sm
		display: inline-block
		position: absolute
		margin: 100px 0 0 -140px
		padding-top: 0px
		padding-bottom: 0px

	i.next-sm
		display: inline-block
		position: absolute
		margin: 100px 0 0 128px
		padding-top: 0px
		padding-bottom: 0px

i.prev-end
	display: inline-block
	position: absolute
	margin: 90px 0 0 -34px
	padding-top: 0px
	padding-bottom: 0px

i.next-end
	display: inline-block
	position: absolute
	margin: 88px 0 0 281px
	padding-top: 0px
	padding-bottom: 0px



i.brothercito
	display: inline-block
	margin: 18px 0px 0 15px
	padding-top: 0px
	padding-bottom: 0px
	background-image: url(../images/assets/brother-salud.png)
	background-repeat: no-repeat
	width: 169px
	height: 231px

i.brothercito-sm
	display: none
	margin: -51px 0px 0 -18px
	padding-top: 0px
	padding-bottom: 0px
	background-image: url(../images/assets/brothercito-sm.png)
	background-repeat: no-repeat
	width: 138px
	height: 268px
	


i.ichrome
	display: inline-block
	padding-top: 0px
	padding-bottom: 0px
	background-image: url(../images/assets/ichrome.png)
	background-repeat: no-repeat
	width: 69px
	height: 68px

i.iexplorer
	display: inline-block
	padding-top: 0px
	padding-bottom: 0px
	background-image: url(../images/assets/iexplorer.png)
	background-repeat: no-repeat
	width: 69px
	height: 68px

i.ifirefox
	display: inline-block
	padding-top: 0px
	padding-bottom: 0px
	background-image: url(../images/assets/ifirefox.png)
	background-repeat: no-repeat
	width: 69px
	height: 68px

i.isafari
	display: inline-block
	padding-top: 0px
	padding-bottom: 0px
	background-image: url(../images/assets/isafari.png)
	background-repeat: no-repeat
	width: 69px
	height: 72px

i.iclose
	display: inline-block
	padding-top: 0px
	padding-bottom: 0px
	background-image: url(../images/assets/iclose2.png)
	background-repeat: no-repeat
	width: 24px
	height: 24px


@media (max-width: 392px)
	img#logos
		width: 38% !important
		height: auto

@media (max-width: 768px)
	.navbar-form
		margin-bottom: -15px !important