*:focus 
	outline: none //eliminar el foco de los controles
img
	border: none
	max-width: 100%
	height: auto

.img-navbar
	margin: 0px 0 0 10px
	background-image: url(../images/assets/rimac.png)
	background-repeat: no-repeat
	width: 160px
	height: 75px
	position: absolute
	top: -1px
	display: block
.navbar-brand
	padding: 0px 15px

#logo-01
	margin-top: 33px
	margin-right: 15px
#logo-02
	margin-top: 28px
	margin-left: 15px
.bg-main
	padding-top: 30px
	padding-bottom: 30px
	margin-bottom: 30px
	color: inherit
	background-image: url(../images/bg-main.png)
	background-repeat: no-repeat
	height: 345px
	margin: auto

@media (max-width: 768px)
	.container-group-logo
		text-align: center
	#logo-01
		margin-right: 15px
		margin-top: 10px
		display: inline	
	#logo-02
		margin-left: 15px
		margin-top: 10px
		display: inline
	.container-logo
		background-color: #e6281e
		width: 100%
		height: 45px
	.img-navbar
		right: 0px !important
		margin: auto !important
		position: inherit
		background-image: url(../images/assets/logo-small.png)
		background-repeat: no-repeat
		height: 40px
	.navbar-brand
		padding: 0px 15px



@media (max-width: 728px)
	.bg-main
		padding-top: 48px
		padding-bottom: 48px
		background-image: url(../images/bg-md.jpg)
		background-repeat: no-repeat !important
		height: 608px !important

@media (max-width: 991px)
	.bg-main
		padding-top: 48px
		padding-bottom: 48px
		background-image: url(../images/bg-md.jpg)
		background-repeat: no-repeat
		height: 591px


@media (min-width: 1600px)
	.bg-main
		padding-top: 30px
		padding-bottom: 30px
		margin-bottom: 30px
		color: inherit
		background-image: url(../images/bg-main.png)
		background-repeat: no-repeat
		height: 345px
		margin: auto
		width: 1600px !important




img#logos-A
	display: inline-block
	margin: 20px 0 0 20px
	width: 73px
	height: 160px

@media (max-width: 492px)
	img#logos-A
		margin: 50px 0 0 20px
		width: 123px
		height: 190px
	.contenedorEPS
		a.btn.btn-primary-1
			margin: 0 auto
	.contenedorEPS
		margin: 40px 14px 0px 4px
