.panel
	background-color: #fff
	border: 1px solid transparent
	border-radius: 6px
	margin-bottom: 20px
	font-family: inherit
	display: block



.panel-body
	padding: 10px

.panel-heading
	margin-top: 0
	margin-bottom: -10px
	text-align: center
	padding-top: 15px
	border-bottom: 1px solid #ddd
	border-radius: 6px 6px 0 0
	height: 40px

.panel-title
	margin-top: 0
	margin-bottom: 0
	font-size: 14px

.panel-default
	border-color: #ddd

.panel-forma-pago
	border: 2px solid #c9c9c9

.panel-forma-pago > .panel-heading
	background-color: #c8c8c8
	border-radius: 3px 3px 0 0
	color: white
	font-weight: 700
	text-transform: uppercase

.panel-forma-pago > .panel-body
	background-color: #fafafa

.panel-oncologico > .panel-heading
	background-color: #ffc700
	color: white
	font-weight: 700
	text-transform: uppercase

.panel-oncologico > .panel-body
	background-color: #fafafa
	border: 1px solid #f0f0f0
	border-radius: 0 0 7px

.panel-chat
	width: 200px 
	height: 237px 
	border-radius: 10px
	background-color: #3fbfad

.panel-chat > .panel-body p
	color: white 

// panel-hub
a.panel
	background-color: white
	border: 1px solid transparent
	border-radius: 5px
	// width: 100%
	margin-bottom: 5px
	box-sizing: border-box
	.panel-body
		padding: 20px 20px 30px
		box-sizing: border-box
	.panel-header
		background-color: #eee
		border-bottom: 1px solid #b2b7bf
		color: #3fbfad
		font-family: Lato
		font-size: 17px
		line-height: 17px
		font-weight: 500
		padding: 10px 15px 10px 15px
		i
			margin-left: 10px
			vertical-align: middle
.panel-prueba
	background-image: linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.75) 100%)
  
.panel-default
	background-color: #656565
	color: #3fbfad
.panel-tres
	border-radius: 4px
	border-color: #3fbfad


.panel-big
	z-index: 2
	position: relative
	background-color: white
	border: 1px solid #f3f3f3
	border-radius: 5px
	box-shadow: 0 1px 11px rgba(195, 195, 195, 0.2)
	min-height: 365px
	.panel-head
		text-align: center
		font-size: 21px
		font-weight: 700
		font-family: Lato
		color: #34495e
		margin-top: 20px
	.panel-content
		color: #656565
		font-family: Lato
		font-size: 14px
		font-weight: 400
		margin: 0 auto
		padding: 12px 13px 0px 13px
		text-align: center
	.panel-verde
		color: #81bb00
		font-style: italic
		font-size: 14px
		font-weight: 500
		font-family: Lato
		margin: 0 auto
		padding: 22px 0 0 0
	.panel-contenido
		color: #656565
		font-family: Lato
		font-size: 14px
		font-weight: 400
		margin: 8px -19px 0 39px
		text-align: center
	.panel-body
		padding: 18px 10px
	.servicios
		background-color: transparent
		height: 95px
		width: 92px

.content-caja	
	.caja01
		background-color: transparent
		height: 100px
		width: 100px
		display: inline-block
	.caja02
		background-color: violet
		height: 100px
		width: 100px
		display: inline-block

.texto01
	margin: 2px 0px 0px 4px
	display: block
	color: #656565
	font-family: Lato
	font-size: 12px
	font-weight: 400

.e-texto
	margin-top: 20px
	color: #34495e
	font-family: Lato
	font-size: 18px
	font-weight: 400


.contenedorEPS
	margin: 50px 24px 0px 24px

.header-2
	color: #34495e
	font-family: Lato
	font-size: 32px
	font-weight: 400
	line-height: 20px
	padding-top: 28px

.header-4
	color: #34495e
	font-family: Lato
	font-size: 18px
	font-weight: 400

// contenedor paneles
.container-panel
	background-image: linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.75) 100%)
	opacity: 0.6
	padding-right: 15px
	padding-left: 15px
	margin-right: auto
	margin-left: auto
	width: 330px
	height: 217px

@media (min-width: 1200px)
	.container-panel
		width: 330px
		height: 217px

@media (min-width: 992px)
	.container-panel
		width: 330px
		height: 217px

@media (min-width: 768px)
	.container-panel
		width: 330px
		height: 217px

@media (max-width: 768px)
	.container-panel
		width: 380px
		height: 275px

@media (min-width: 768px)
	.navbar-right
		float: right!important
		margin-right: 9px



.panel-hub
	z-index: 2
	position: relative
	cursor: pointer
	height: 217px
	background-image: linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.75) 20%)
	border: 1px solid #f3f3f3
	border-radius: 8px
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)

.browsers
	width: 100%
	padding-top: 60px
	padding-bottom: 60px
