//for all_font
*
	font-family: LatoRegular
//headers
h1
	color: $text-black
	font-size: 32px
	font-weight: 300
	font-family: LatoLight
h2
	color: $text-black
	font-size: 32px
	font-weight: 400
h3
	color: $text-black
	font-size: 28px
	font-family: LatoBold
h4
	color: $text-black
	font-size: 22px
	font-weight: 400
h5
	color: $text-black
	font-size: 22px
	font-family: LatoBold
h6
	color: $text-black
	font-size: 22px
	font-weight: 400
	font-family: LatoBold
	text-transform: uppercase
.header7
	color: $text-black
	font-size: 18px
	font-weight: 400
	line-height: 22px
.header8
	color: $text-black
	font-size: 18px
	font-weight: 700
	line-height: 22px
	font-family: LatoBold

p
	//hereda a los parrafos a de los popup
	color: $text-black
	font-family: Lato !important
	font-size: 14px
	font-weight: 400
	line-height: 20px
	//line-height: 14px
.message
	color: $text-black
	font-size: 14px
	font-weight: 400
	line-height: 20px
	font-family: LatoItalic
.detail
	color: $text-black
	font-size: 12px
	font-weight: 400
	line-height: 18px
.detail-B
	color: $text-black
	font-size: 9px
	font-weight: 400
	line-height: 18px
	font-family: LatoBold
.link
	color: $text-red
	font-size: 9px
	font-weight: 400
	line-height: 18px
li
	color: $text-dark
	font-size: 14px
	font-weight: 400
	line-height: 18px
blockquote,
.blockquote
	font-size: 14px
	font-weight: LatoItalic
.text-xl
	font-size: 32px
	font-weight: 700
	line-height: 27px
	font-family: LatoLight
.text-large
	font-size: 32px
	font-weight: 700
	line-height: 27px
.text-sm
	color: $text-black
	font-size: 12px
	font-weight: 400
.text-xs
	color: $text-gray
	font-size: 9px
	font-weight: 700

.text-currency
	color: $text-extra

.text-danger
	color: $text-red
	display: inline-block
.text-footer
	color: $text-dark
.star
	color: $text-red
	font-size: 18px
	font-weight: 400
	display: inline-block
.text-primary
	color: $text-blue
	display: inline-block
.code
	color: #e92221
	font-size: 10px
	font-weight: 400
	display: inline-block
	//background-color: rgba(233, 37, 12, 0.1)
	//border: 1px solid rgba(233, 37, 12, 0.5)
	//border-radius: 4px
	//min-width: 29%
	//display: inline-block
.popup-pay
	color: white
	font-size: 14px
	font-weight: 700
	line-height: 27px
	text-transform: uppercase
.title
	//hereda del h3
	font-weight: 700
.title-help
	color: white
	font-size: 18px
	line-height: 26px
.subtitle-bold
	font-weight: LatoBold !important
.subtitle-underline
	text-decoration: underline

.sm-help
	color: white
	line-height: 12px
.popup-p
	//hereda del p
	color: $text-dark
.popup-link
	color: $text-red
	text-decoration: underline
//text-align
.text-left
	text-align: left
.text-center
	text-align: center
.text-right
	text-align: right
.text-justify
	text-align: justify
.text-nowrap
	text-align: nowrap
//square
.sq-help
	position: absolute
	top: -570%
	left: 150%
	width: 200px !important
	height: 237px !important
	background-color: $extra
	border-radius: 10px
	padding: 25px 0px 0px 0px

.text
	p
		margin-bottom: 1em
	a, ins, u
		text-decoration: underline
	strong, b
		font-weight: bold
	em, i
		font-style: italic
	small
		font-size: smaller
//footer
footer
	position: relative
	height: 40px
	font-family: Lato !important
	padding: 5px 0px
	clear: both
	text-align: center
	color: #fff

.btn-link
	color: #ed1d24
	font-family: Lato !important
	&:hover,
	&:active,
	&:focus
		color: #ed1d24 !important
		font-family: Lato !important

.listas
	list-style-type: none
	margin-left: -26px

.titulo-pagina
	opacity: 1 !important
	margin: 0px auto
	color: #34495e
	text-align: center
	font-family: Lato
	font-size: 32px
	font-weight: 400
	line-height: 38px
	margin-top: -17px
	margin-bottom: 15px
.contenido
	opacity: 1 !important
	margin: 0px auto
	color: #34495e
	text-align: center
	font-family: Lato
	font-size: 18px
	font-weight: 400



@media (max-width: 350px)
	.container-panels
		margin: 0 auto
		width: 260px
		text-align: center
	.panel.panel-hub#slide-01
			width: 240px !important
			margin: 0 auto
	#slide-02,
	#slide-03
		display: none
	.panel.panel-big
		width: 260px !important
	i.banner-01
		margin: 0px 0px
		width: 100% !important
		height: auto
	i.next-end
		margin: 88px 0 0 240px !important

	.img-brother
		margin: 0px
		width: 80% !important
		height: auto

@media (max-width: 430px)
	.container-panels
		margin: 0 auto
		width: 280px
		text-align: center
	.panel.panel-hub#slide-01
			width: 240px !important
			margin: 0 auto
	#slide-02,
	#slide-03
		display: none
	.img-brother
		margin: 0 0 0 0
		width: 80% !important
		height: auto
	i.brothercito
		display: none !important
	i.brothercito-sm
		display: inline-block !important

@media (max-width: 768px)
	.container-panels
		width: 328px
		text-align: center
		.panel.panel-hub#slide-01
			width: 240px !important
			margin: 0 auto
	#slide-02,
	#slide-03,
	.col-small-1
		display: none

@media (max-width: 991px)
	.panel.panel-hub#slide-01
		width: 240px !important
		margin: 0 auto
	#slide-02,
	#slide-03,
	.col-small-1
		display: none


@media (min-width: 769px)
	.container-panels
		width: 380px
		text-align: center



@media (min-width: 992px)
	.container
		width: 990px

	.container-fluid
		padding-right: 15px
		padding-left: 15px
		margin-right: auto
		margin-left: auto

	.row
		margin-right: -15px
		margin-left: -15px

	.col-small-1, .col-small-2, .col-small-3
		position: relative
		min-height: 1px
		padding-right: 5px
		padding-left: 5px

	.col-small-5
			position: relative
			min-height: 1px
			padding-right: 5px
			padding-left: 5px

	.col-small-40
		position: relative
		min-height: 1px
		padding-right: 15px
		padding-left: 15px

	.col-small-1, .col-small-2, .col-small-40, .col-small-3, .col-small-5
		float: left

	.col-small-1
		width: 8%

	.col-small-2
		width: 16%

	.col-small-40
		width: 35%

	.col-small-3
		width: 33%

	.col-small-5
		width: 34%

@media (min-width: 1200px)
	.container
		width: 1170px

	.container-fluid
		padding-right: 15px
		padding-left: 15px
		margin-right: auto
		margin-left: auto

	.row
		margin-right: -15px
		margin-left: -15px

	.col-small-1, .col-small-2, .col-small-3
		position: relative
		min-height: 1px
		padding-right: 5px
		padding-left: 5px
	
	.col-small-5
			position: relative
			min-height: 1px
			padding-right: 5px
			padding-left: 5px

	.col-small-40
		position: relative
		min-height: 1px
		padding-right: 15px
		padding-left: 15px

	.col-small-1, .col-small-2, .col-small-40, .col-small-3, .col-small-5
		float: left

	.col-small-1
		width: 8%

	.col-small-2
		width: 16%

	.col-small-40
		width: 35%

	.col-small-3
		width: 33%

	.col-small-5
		width: 34%


.font-Lato
	font-family: Lato !important
	text-align: justify

.browser-des
	display: inline-block
	color: #34495e
	font-family: Lato
	font-size: 12px
	font-weight: 700
	line-height: 14px

.iclose
	float: right
	font-size: 21px
	font-weight: 700
	line-height: 1
	color: #000
	text-shadow: 0 1px 0 #fff
	filter: alpha(opacity=20)
	opacity: 1 !important

button.iclose
	-webkit-appearance: none
	padding: 0
	cursor: pointer
	background: 0 0
	border: 0

.col-md-12
	padding-right: 0px !important
	padding-left: 30px !important