doctype html
html(lang="es")
	head
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Rimac Hub

		link(href="../styles/bootstrap.min.css" rel="stylesheet" media="screen")
		link(href='https://fonts.googleapis.com/css?family=Lato:400,300italic,300,400italic,700,700italic' rel='stylesheet' type='text/css')
		
		//[if lt IE 7]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

			<![endif]

		//- link(rel="stylesheet", href="https://code.jquery.com/ui/1.8.24/themes/blitzer/jquery-ui.css")
		//- link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css')
		link(href="../styles/ie10-viewport-bug-workaround.css" rel="stylesheet")

		//- link(href="../styles/carousel.css")
		link(href="../styles/main.css" rel="stylesheet")
		link(href="../styles/jumbotron.css" rel="stylesheet" media="screen")
		script(src="../scripts/ie-emulation-modes-warning.js")

	body
		nav.navbar.navbar.navbar-top
			.container
				.navbar-header
					.container-logo
						a.img-navbar(href="#" )
						//- img(src="../images/assets/rimac.png" alt="Rimac")
				#navbar.navbar-collapse
					form.navbar-form.navbar-right
						.container-group-logo
							.form-group#logo-01
								img#logos(src="../images/assets/logo_01.png" alt="Ferreyros")
							.form-group#logo-02
								img#logos(src="../images/assets/logo-02.png" alt="Marsh")
		.bg-main
			.container
				.row
					.col-md-12
						h1.titulo-pagina ¡ Bienvenido a la zona privada !
						p.contenido Si estás buscando un seguro, aprovecha los descuentos exclusivos que tenemos para ti
			.container
					//- .col-md-1
					//- 	&nbsp;
				.row
					.container.container-panels
						.col-small-40
							.panel.panel-hub.text-center
								.col-xs-3
									.img-brother
										i.brothercito#hide-0
										i.brothercito-sm#hide-1
								.col-xs-9
									.contenedorEPS
										.e-texto Si no estas afiliado a Rimac EPS
										a.btn.btn-primary-1(href="http://www.rimac.com.pe/personas-salud-rimac-eps") Ingresa Aquí
										//- button.btn.btn-second(href="javascript(0);" style="margin-top:10px;") Ingresa Aquí

						//- .col-md-1
						//- 	&nbsp;
						.col-small-1
							&nbsp;
							i.prev

						.col-small-2
							i.prev-sm#detalle
							i.next-sm#detalle
							.panel.panel-hub#slide-01
								.e-texto Vehicular
								i.vehicular
						.col-small-2
							.panel.panel-hub#slide-02
								.e-texto Salud
								i.salud
						.col-small-2
							.panel.panel-hub#slide-03
								.e-texto Oncológico
								i.crab
						.col-small-1
							&nbsp;
							i.next
			.container
				.row
					.container.container-panels.A
						.col-small-3
							.panel.panel-big.text-center
								.panel-head Servicios Rimac
								.panel-content Descubre todo los sevicios que hemos puesto a tu disposición.
								br
								.content-caja
									.caja01
										i.configure
										.texto01.text-center Configura tus alertas de pago
									.caja01
										i.update
										.texto01.text-center Actualizar tus datos
									.caja01
										i.consult
										.texto01.text-center Realizar consultas médicas en linea
									.caja01
										i.emergency
										.texto01.text-center Emergencias Vehiculares
									.caja01
										i.detail
										.texto01.text-center Detalle de coberturas
									.caja01
										i.search
										.texto01.text-center Buscar talleres y clínicas
						.col-small-5
							.panel.panel-big
								.panel-head Programa de beneficios Rimac
								br
								ul.listas
									li.text-center
										i.prev-end
										i.next-end
										i.banner-01
								a.btn.btn-primary-1#btn-final(href="https://www.rimac.com.pe/promocard") Conocer más
						.col-small-3
							.panel.panel-big.text-center
								.panel-head Estar Bien
								.panel-content.panel-verde “Inspìración diaria para una vida saludable”
								br
								.col-md-7
									.panel-contenido Hemos creado un lugar pensando en tu bienestar; descubre tips, consejos y lugares que te ayudarán a vivir una vida mas sana.
								.col-md-5
									i.estar-bien
								a.btn.btn-primary-1#btn-final(href="http://rimacestarbien.com/") Conocer más
				
				footer.text-center
					p Haz click
						a.btn-link(href="javascript:void(0)", data-toggle="modal" data-target="#modalnavegador")!= " Aquí&nbsp;"
						| para ver los navegadores soportados
					p
						a.btn-link(href="javascript:void(0)", data-toggle="modal" data-target="#modalterminos") Términos y condiciones
						| - RIMAC Seguros y Reaseguros. Todos los derechos reservados.
		.modal.fade#modalterminos
			.modal-dialog
				.modal-content
					.modal-body
						button(type="button" class="close" data-dismiss="modal" aria-label="Close")
							i.iclose
						div.font-Lato
							h4.text-center Términos y Condiciones de Uso
							hr
							//-h5.text-center(style="font-weight: 700;font-weight: 700;") CONDICIONES GENERALES DE USO
							p Los Términos y Condiciones de Uso que a continuación se describen son de carácter general y resultan aplicables al uso del contenido, productos y/o servicios disponibles bajo el sitio Web www.rimac.com.pe. Al momento que el usuario ingrese a este sitio Web, declara no sólo haber leído los Términos y Condiciones de Uso, sino que también haber comprendido y aceptado el contenido de éstos. Si el usuario no está de acuerdo con los términos y condiciones que aparecen a continuación, deberá abstenerse de ingresar a este sitio Web ni a ninguna de sus páginas.
							h5.font-Lato DERECHOS DE AUTOR: Rimac Internacional se reserva todos los derechos
							p Este sitio Web se encuentra protegido por la normativa vigente sobre derechos de autor. Los derechos de autor en las páginas, en las pantallas que muestran las páginas, y en la información y materiales allí contenidos, así como la forma en que la información y los materiales están dispuestos, pertenecen a Rimac Internacional Compañía de Seguros y Reaseguros S.A. y Rimac Internacional S.A. Entidad Prestadora de Salud, en adelante "RIMAC INTERNACIONAL", a menos que se indique algo distinto. En tal sentido, se encuentra expresamente prohibido, el empleo, modificación, reproducción, distribución o cualquier otro acto de disposición de los derechos de autor involucrados sin el consentimiento expreso de RIMAC INTERNACIONAL, salvo en los casos permitidos por ley.
							h5.font-Lato DERECHOS DE PROPIEDAD INTELECTUAL - Marcas Registradas
							p RIMAC INTERNACIONAL declara que "Rimac Internacional Compañía de Seguros y Reaseguros", "Rimac Internacional S.A. Entidad Prestadora de Salud", "Rimac Seguros", "Rimac Contigo", "Aló Rimac", "Rimac Soat" y "E-Taller Rimac" son marcas de su exclusiva propiedad y se encuentran registradas en el Perú .RIMAC INTERNACIONAL también reclama derechos sobre otras marcas registradas y marcas de servicio contenidas en este sitio Web. En tal sentido, se encuentra expresamente prohibido que dichas marcas sean copiadas, reproducidas, modificadas o utilizadas de cualquier manera que se afecten los derechos de propiedad intelectual que RIMAC INTERNACIONAL tiene sobre ellas.
							h5.font-Lato USO DE INFORMACIÓN Y DE MATERIALES
							p La información y los materiales contenidos en este sitio Web y cualquiera de sus páginas, así como los Términos y Condiciones que aquí aparecen se encuentran sujetos a cambios. RIMAC INTERNACIONAL declara que realiza los mayores esfuerzos para brindar la información actualizada y exacta. Sin perjuicio de lo anterior, durante los procesos de actualización de la información de este sitio Web, los usuarios tendrán a su disposición las plataformas de atención al usuario y las centrales telefónicas de atención al cliente en donde podrán recibir toda la información actualizada de los productos y servicios que RIMAC INTERNACIONAL ofrece. Se prohíbe estrictamente el uso no autorizado de este sitio Web y de los sistemas de Rimac Internacional; incluyendo, pero no limitándose, al uso inapropiado de los nombres de usuarios y las contraseñas o de cualquier información que se presente en este sitio Web y cualquiera de sus páginas. Los productos y servicios mencionados en este sitio Web no están todos disponibles en todas las áreas geográficas, para tal efecto el usuario podrá consultar la disponibilidad de los productos a través de cualquiera de los canales de atención al cliente que RIMAC INTERNACIONAL posee. La elegibilidad o asegurabilidad de cualquier persona o bien para productos y servicios mencionados en este sitio Web está sujeta a la determinación final de Rimac Internacional.	
							h5.font-Lato RESPONSABILIDAD DEL USUARIO
							p Para el ingreso a la zona privada de clientes, es obligatorio completar el formulario de registro en todos sus campos con datos válidos para poder crear una cuenta en este sitio Web. El Usuario asume el compromiso de actualizar los datos personales conforme resulte necesario. Los Usuarios garantizan y responden, en cualquier caso, por la veracidad, exactitud, vigencia y autenticidad de los datos personales ingresados. El Usuario accederá a su cuenta personal mediante el ingreso de su nombre y clave de seguridad personal elegida (Contraseña). El Usuario se obliga a mantener la confidencialidad de su Clave de Seguridad. La Cuenta es personal, única e intransferible. El Usuario será responsable por el manejo de su Cuenta, pues el acceso a la misma está restringido al ingreso y uso de su Clave de Seguridad, de conocimiento exclusivo del Usuario. El Usuario se compromete a notificar a RIMAC INTERNACIONAL en forma inmediata y por medio idóneo y fehaciente, cualquier uso no autorizado de su Cuenta, así como el ingreso por terceros no autorizados a la misma.


							h5.font-Lato ENLACES
							p Este sitio Web puede contener enlaces a otros sitios Web controlados u ofrecidos por terceras personas (no relacionadas con RIMAC INTERNACIONAL). RIMAC INTERNACIONAL declara que no se hace responsable en relación a ninguna información, materiales, productos o servicios que aparezcan o que se ofrezcan en cualquiera de los sitios pertenecientes a terceras personas con enlaces a este sitio Web. Al crear un enlace al sitio Web de una tercera persona, RIMAC INTERNACIONAL no apoya ni recomienda ningún producto o servicio que ésta ofrezca, ni tampoco ninguna información que ésta contenga. Tales sitios Web pueden tener unas condiciones y términos de uso y política de privacidad distinta a la de RIMAC INTERNACIONAL así como proveer menos seguridad de la que ofrece el sitio Web de RIMAC INTERNACIONAL.


							h5.font-Lato LÍMITES DE RESPONSABILIDAD POR FALLAS INFORMATICAS Y AFINES
							p En ningún caso RIMAC INTERNACIONAL se hará responsable por alguna clase de daño directo o indirecto, incidentales, pérdidas o gastos que surjan en relación a este sitio Web, o a cualquier otro sitio Web enlazado a éste, o en conexión al uso de éstos, debido a la falta de capacidad para usarlos o al mal manejo que pudiera realizar cualquier persona, debido a cualquier, , interrupción, defecto, virus de computadora, demora en la operación, transición o falla del sistema.


							h5.font-Lato INFORMACIÓN ENTREGADA A RÍMAC SEGUROS
							p Ley 29733 - Ley de Protección de Datos Personales y su Reglamento

							p De conformidad con lo establecido en la Ley N° 29733 - Ley de Protección de Datos Personales y su Reglamento, quien suscribe el presente documento, queda informado y da su consentimiento libre, previo, expreso, inequívoco e informado, para el tratamiento y transferencia, nacional e internacional de sus datos personales al banco de datos de titularidad de RIMAC SEGUROS Y REASEGUROS (“La Aseguradora”), que estará ubicado en sus oficinas a nivel nacional que, conjuntamente con cualquier otro dato que pudiera facilitarse a lo largo de la relación jurídica y aquellos obtenidos en fuentes accesibles al público, se tratarán con las finalidades de analizar las circunstancias al celebrar contratos con La Aseguradora, gestionar la contratación y evaluar la calidad del servicio. Asimismo, La Aseguradora utilizará los datos personales con fines comerciales, y publicitarios a fin de remitir información sobre productos y servicios que La Aseguradora considere de su interés.

							p Los datos proporcionados serán incorporados, con las mismas finalidades, a las bases de datos de RIMAC SEGUROS Y REASEGUROS y/u otras empresas subsidiarias, filiales, asociadas, afiliadas o miembros del Grupo Económico al cual pertenece y/o terceros con los que éstas mantengan una relación contractual.

							p Los datos suministrados son esenciales para las finalidades indicadas. Las bases de datos donde ellos se almacenan cuentan con estrictas medidas de seguridad. En caso se decida no proporcionarlos, no será posible la prestación de servicios por parte La Aseguradora.

							p Conforme a Ley, el titular de la información está facultado a ejercitar los derechos de información, acceso, rectificación, supresión o cancelación y oposición que se detallan en la Ley N° 29733 - Ley de Protección de Datos Personales y su Reglamento, mediante comunicación dirigida RIMAC SEGUROS Y REASEGUROS.

							h5.font-Lato DISPONIBILIDAD
							p Se encuentra prohibido el uso de este sitio Web por parte de cualquier persona para fines contrarios a las normas de orden público.
							h5.font-Lato TÉRMINOS ADICIONALES
							p Ciertas secciones o páginas de este sitio Web pueden contener términos y condiciones que sean adicionales a los presente Términos y Condiciones de Uso que aquí se mencionan. En caso de conflicto, los términos y condiciones adicionales prevalecerán en las secciones o páginas donde aparezcan. En el supuesto que alguna de las disposiciones contenidas en los presentes Términos y Condiciones de Uso sea declarado ilegal, inválido o nulo, el resto de términos quedara vigente y aplicable para cualquier supuesto.
							h5.font-Lato LAS LEYES QUE RIGEN
							p El uso de este sitio Web se regirá por todas las leyes aplicables de la República del Perú.
		.modal.fade#modalnavegador
			.modal-dialog
				.modal-content
					.modal-body
						button(type="button" class="close" data-dismiss="modal" aria-label="Close")
							i.iclose
						.browsers
							.row
								.layout-1-4
									.browser
										i.iexplorer
										.browser-des Internet Explorer 8.0 en adelante
								.layout-1-4
									.browser
										i.ifirefox
										.browser-des Mozilla Firefox 5.0 en adelante
								.layout-1-4
									.browser
										i.ichrome
										.browser-des Google Chrome 9.0 en adelante
								.layout-1-4
									.browser
										i.isafari
										.browser-des Safari 4.0 en adelante
						





		

			


		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
		script window.jQuery || document.write('<script src="../scripts/jquery.min.js"><\/script>')
		script(src="../scripts/bootstrap.min.js")
		script(src="../scripts/ie10-viewport-bug-workaround.js")
		//- script(src="../scripts/jquery.flexslider-min.js")
		//- script(src="../scripts/stacktable.js")
		//- script(src="../scripts/jquery.fancybox.pack.js")
		//- script(defer src="../scripts/jquery.flexslider.js")
		