@font-face {
  font-family: 'LatoLight';
  src: url(../fonts/Lato-Light.ttf);
}

@font-face {
  font-family: 'LatoRegular';
  src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: 'LatoItalic';
  src: url(../fonts/Lato-Italic.ttf);
}

@font-face {
  font-family: 'LatoBold';
  src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: 'LatoMedium';
  src: url(../fonts/Lato-Medium.ttf);
}

.panel {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 6px;
  margin-bottom: 20px;
  font-family: inherit;
  display: block;
}

.panel-body {
  padding: 10px;
}

.panel-heading {
  margin-top: 0;
  margin-bottom: -10px;
  text-align: center;
  padding-top: 15px;
  border-bottom: 1px solid #ddd;
  border-radius: 6px 6px 0 0;
  height: 40px;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.panel-default {
  border-color: #ddd;
}

.panel-forma-pago {
  border: 2px solid #c9c9c9;
}

.panel-forma-pago > .panel-heading {
  background-color: #c8c8c8;
  border-radius: 3px 3px 0 0;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}

.panel-forma-pago > .panel-body {
  background-color: #fafafa;
}

.panel-oncologico > .panel-heading {
  background-color: #ffc700;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}

.panel-oncologico > .panel-body {
  background-color: #fafafa;
  border: 1px solid #f0f0f0;
  border-radius: 0 0 7px;
}

.panel-chat {
  width: 200px;
  height: 237px;
  border-radius: 10px;
  background-color: #3fbfad;
}

.panel-chat > .panel-body p {
  color: white;
}

a.panel {
  background-color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

a.panel .panel-body {
  padding: 20px 20px 30px;
  box-sizing: border-box;
}

a.panel .panel-header {
  background-color: #eee;
  border-bottom: 1px solid #b2b7bf;
  color: #3fbfad;
  font-family: Lato;
  font-size: 17px;
  line-height: 17px;
  font-weight: 500;
  padding: 10px 15px 10px 15px;
}

a.panel .panel-header i {
  margin-left: 10px;
  vertical-align: middle;
}

.panel-prueba {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.75) 100%);
}

.panel-default {
  background-color: #656565;
  color: #3fbfad;
}

.panel-tres {
  border-radius: 4px;
  border-color: #3fbfad;
}

.panel-big {
  z-index: 2;
  position: relative;
  background-color: white;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  box-shadow: 0 1px 11px rgba(195, 195, 195, 0.2);
  min-height: 365px;
}

.panel-big .panel-head {
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  font-family: Lato;
  color: #34495e;
  margin-top: 20px;
}

.panel-big .panel-content {
  color: #656565;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  margin: 0 auto;
  padding: 12px 13px 0px 13px;
  text-align: center;
}

.panel-big .panel-verde {
  color: #81bb00;
  font-style: italic;
  font-size: 14px;
  font-weight: 500;
  font-family: Lato;
  margin: 0 auto;
  padding: 22px 0 0 0;
}

.panel-big .panel-contenido {
  color: #656565;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  margin: 8px -19px 0 39px;
  text-align: center;
}

.panel-big .panel-body {
  padding: 18px 10px;
}

.panel-big .servicios {
  background-color: transparent;
  height: 95px;
  width: 92px;
}

.content-caja .caja01 {
  background-color: transparent;
  height: 100px;
  width: 100px;
  display: inline-block;
}

.content-caja .caja02 {
  background-color: violet;
  height: 100px;
  width: 100px;
  display: inline-block;
}

.texto01 {
  margin: 2px 0px 0px 4px;
  display: block;
  color: #656565;
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
}

.e-texto {
  margin-top: 20px;
  color: #34495e;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
}

.contenedorEPS {
  margin: 50px 24px 0px 24px;
}

.header-2 {
  color: #34495e;
  font-family: Lato;
  font-size: 32px;
  font-weight: 400;
  line-height: 20px;
  padding-top: 28px;
}

.header-4 {
  color: #34495e;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
}

.container-panel {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.75) 100%);
  opacity: 0.6;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 330px;
  height: 217px;
}

@media (min-width: 1200px) {
  .container-panel {
    width: 330px;
    height: 217px;
  }
}

@media (min-width: 992px) {
  .container-panel {
    width: 330px;
    height: 217px;
  }
}

@media (min-width: 768px) {
  .container-panel {
    width: 330px;
    height: 217px;
  }
}

@media (max-width: 768px) {
  .container-panel {
    width: 380px;
    height: 275px;
  }
}

@media (min-width: 768px) {
  .navbar-right {
    float: right !important;
    margin-right: 9px;
  }
}

.panel-hub {
  z-index: 2;
  position: relative;
  cursor: pointer;
  height: 217px;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.75) 20%);
  border: 1px solid #f3f3f3;
  border-radius: 8px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.browsers {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.btn {
  color: #fff;
  font-size: 18px;
  line-height: 1.428571;
  height: 40px;
  background-color: transparent;
  border: 1px solid transparent;
  font-family: Lato !important;
  padding: 7px 13px;
  border-radius: 6px;
  margin-top: 0.7em !important;
  margin: 0px 5px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  transition: all 0.5s;
}

.btn:hover {
  background-color: transparent;
}

.btn:active,
.btn.active,
.btn:focus {
  background-color: transparent;
}

.btn-default {
  color: #656565;
  background-color: #fff;
  border-color: #c8c8c8;
  padding: 9px 13px;
}

.btn-help {
  font-size: 12px;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  background-color: #3fbfad;
  line-height: 32px;
  padding: 8px 16px;
}

.btn-help:hover {
  background-color: #fff;
  color: #3fbfad !important;
}

.btn-help:active,
.btn-help.active {
  background-color: #fff;
  color: #3fbfad !important;
}

.btn-primary-1 {
  color: #fff;
  background-color: #81be00;
  border-color: #81be00;
  padding: 7px 13px;
  width: 150px;
  font-size: 18px;
}

.btn-primary-1:hover {
  background-color: #6ea100;
  color: #fff;
}

.btn-primary-1:active,
.btn-primary-1:focus,
.btn-primary-1.active {
  background-color: #5c8700 !important;
  color: #fff;
}

.btn-text {
  line-height: 9px;
  margin: 0px 5px !important;
}

.t-inside {
  margin-top: 6px;
  font-size: 12px;
}

.btn-small {
  background-color: #fff;
  font-size: 18px !important;
  border: 1px solid #c8c8c8;
  color: #656565;
  padding: 9px 14px !important;
}

.btn-small:hover {
  background-color: #81be00;
  color: #fff;
}

.btn-small:active,
.btn-small.active {
  background-color: #81be00;
  color: #fff;
}

.btn-medium {
  padding: 9px 13px !important;
  font-size: 14px !important;
  box-sizing: border-box;
}

.btn-large {
  font-size: 22px;
  padding: 9px 2.552%;
}

.btn-secondary {
  color: #fff;
  background-color: #ed1d24;
  padding: 9px 13px;
  font-size: 18px;
}

.btn-secondary:hover {
  background-color: #d41920;
}

.btn-secondary:active,
.btn-secondary.active {
  background-color: #ba161c;
}

.btn-extra {
  color: #3fbfad;
  background-color: #fff;
  font-size: 18px;
  border-color: #3fbfad;
  border: 2px solid #3fbfad;
  padding: 9px 13px;
}

.btn-extra:hover {
  color: #fff;
  background-color: #3fbfad;
}

.btn-extra:active,
.btn-extra.active {
  background-color: #2e8c80;
}

.btn-extra-medium {
  color: #3fbfad;
  background-color: #fff;
  font-size: 14px;
  border-color: #3fbfad;
  border: 2px solid #3fbfad;
}

.btn-extra-medium:hover {
  color: #fff;
  background-color: #3fbfad;
}

.btn-extra-medium:active,
.btn-extra-medium.active {
  background-color: #2e8c80;
}

.btn-icon-right {
  position: relative;
  padding-right: 45px;
}

.btn-icon-right i {
  position: absolute;
  right: 15px;
  top: 0px;
  bottom: 0px;
  margin: auto;
}

.btn-icon-left {
  position: relative;
  padding-left: 45px;
}

.btn-icon-left i {
  position: absolute;
  left: 15px;
  top: 0px;
  bottom: 0px;
  margin: auto;
}

.btn-close {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 1;
}

* {
  font-family: LatoRegular;
}

h1 {
  color: #333333;
  font-size: 32px;
  font-weight: 300;
  font-family: LatoLight;
}

h2 {
  color: #333333;
  font-size: 32px;
  font-weight: 400;
}

h3 {
  color: #333333;
  font-size: 28px;
  font-family: LatoBold;
}

h4 {
  color: #333333;
  font-size: 22px;
  font-weight: 400;
}

h5 {
  color: #333333;
  font-size: 22px;
  font-family: LatoBold;
}

h6 {
  color: #333333;
  font-size: 22px;
  font-weight: 400;
  font-family: LatoBold;
  text-transform: uppercase;
}

.header7 {
  color: #333333;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.header8 {
  color: #333333;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  font-family: LatoBold;
}

p {
  color: #333333;
  font-family: Lato !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.message {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: LatoItalic;
}

.detail {
  color: #333333;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.detail-B {
  color: #333333;
  font-size: 9px;
  font-weight: 400;
  line-height: 18px;
  font-family: LatoBold;
}

.link {
  color: #ed1d24;
  font-size: 9px;
  font-weight: 400;
  line-height: 18px;
}

li {
  color: #656565;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

blockquote,
.blockquote {
  font-size: 14px;
  font-weight: LatoItalic;
}

.text-xl {
  font-size: 32px;
  font-weight: 700;
  line-height: 27px;
  font-family: LatoLight;
}

.text-large {
  font-size: 32px;
  font-weight: 700;
  line-height: 27px;
}

.text-sm {
  color: #333333;
  font-size: 12px;
  font-weight: 400;
}

.text-xs {
  color: #b2b7bf;
  font-size: 9px;
  font-weight: 700;
}

.text-currency {
  color: #3fbfad;
}

.text-danger {
  color: #ed1d24;
  display: inline-block;
}

.text-footer {
  color: #656565;
}

.star {
  color: #ed1d24;
  font-size: 18px;
  font-weight: 400;
  display: inline-block;
}

.text-primary {
  color: #34495e;
  display: inline-block;
}

.code {
  color: #e92221;
  font-size: 10px;
  font-weight: 400;
  display: inline-block;
}

.popup-pay {
  color: white;
  font-size: 14px;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
}

.title {
  font-weight: 700;
}

.title-help {
  color: white;
  font-size: 18px;
  line-height: 26px;
}

.subtitle-bold {
  font-weight: LatoBold !important;
}

.subtitle-underline {
  text-decoration: underline;
}

.sm-help {
  color: white;
  line-height: 12px;
}

.popup-p {
  color: #656565;
}

.popup-link {
  color: #ed1d24;
  text-decoration: underline;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  text-align: nowrap;
}

.sq-help {
  position: absolute;
  top: -570%;
  left: 150%;
  width: 200px !important;
  height: 237px !important;
  background-color: #3fbfad;
  border-radius: 10px;
  padding: 25px 0px 0px 0px;
}

.text p {
  margin-bottom: 1em;
}

.text a, .text ins, .text u {
  text-decoration: underline;
}

.text strong, .text b {
  font-weight: bold;
}

.text em, .text i {
  font-style: italic;
}

.text small {
  font-size: smaller;
}

footer {
  position: relative;
  height: 40px;
  font-family: Lato !important;
  padding: 5px 0px;
  clear: both;
  text-align: center;
  color: #fff;
}

.btn-link {
  color: #ed1d24;
  font-family: Lato !important;
}

.btn-link:hover,
.btn-link:active,
.btn-link:focus {
  color: #ed1d24 !important;
  font-family: Lato !important;
}

.listas {
  list-style-type: none;
  margin-left: -26px;
}

.titulo-pagina {
  opacity: 1 !important;
  margin: 0px auto;
  color: #34495e;
  text-align: center;
  font-family: Lato;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  margin-top: -17px;
  margin-bottom: 15px;
}

.contenido {
  opacity: 1 !important;
  margin: 0px auto;
  color: #34495e;
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 350px) {
  .container-panels {
    margin: 0 auto;
    width: 260px;
    text-align: center;
  }
  .panel.panel-hub#slide-01 {
    width: 240px !important;
    margin: 0 auto;
  }
  #slide-02,
  #slide-03 {
    display: none;
  }
  .panel.panel-big {
    width: 260px !important;
  }
  i.banner-01 {
    margin: 0px 0px;
    width: 100% !important;
    height: auto;
  }
  i.next-end {
    margin: 88px 0 0 240px !important;
  }
  .img-brother {
    margin: 0px;
    width: 80% !important;
    height: auto;
  }
}

@media (max-width: 430px) {
  .container-panels {
    margin: 0 auto;
    width: 280px;
    text-align: center;
  }
  .panel.panel-hub#slide-01 {
    width: 240px !important;
    margin: 0 auto;
  }
  #slide-02,
  #slide-03 {
    display: none;
  }
  .img-brother {
    margin: 0 0 0 0;
    width: 80% !important;
    height: auto;
  }
  i.brothercito {
    display: none !important;
  }
  i.brothercito-sm {
    display: inline-block !important;
  }
}

@media (max-width: 768px) {
  .container-panels {
    width: 328px;
    text-align: center;
  }
  .container-panels .panel.panel-hub#slide-01 {
    width: 240px !important;
    margin: 0 auto;
  }
  #slide-02,
  #slide-03,
  .col-small-1 {
    display: none;
  }
}

@media (max-width: 991px) {
  .panel.panel-hub#slide-01 {
    width: 240px !important;
    margin: 0 auto;
  }
  #slide-02,
  #slide-03,
  .col-small-1 {
    display: none;
  }
}

@media (min-width: 769px) {
  .container-panels {
    width: 380px;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .container {
    width: 990px;
  }
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
  .col-small-1, .col-small-2, .col-small-3 {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
  }
  .col-small-5 {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
  }
  .col-small-40 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-small-1, .col-small-2, .col-small-40, .col-small-3, .col-small-5 {
    float: left;
  }
  .col-small-1 {
    width: 8%;
  }
  .col-small-2 {
    width: 16%;
  }
  .col-small-40 {
    width: 35%;
  }
  .col-small-3 {
    width: 33%;
  }
  .col-small-5 {
    width: 34%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
  .col-small-1, .col-small-2, .col-small-3 {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
  }
  .col-small-5 {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
  }
  .col-small-40 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-small-1, .col-small-2, .col-small-40, .col-small-3, .col-small-5 {
    float: left;
  }
  .col-small-1 {
    width: 8%;
  }
  .col-small-2 {
    width: 16%;
  }
  .col-small-40 {
    width: 35%;
  }
  .col-small-3 {
    width: 33%;
  }
  .col-small-5 {
    width: 34%;
  }
}

.font-Lato {
  font-family: Lato !important;
  text-align: justify;
}

.browser-des {
  display: inline-block;
  color: #34495e;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
}

.iclose {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 1 !important;
}

button.iclose {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

.col-md-12 {
  padding-right: 0px !important;
  padding-left: 30px !important;
}

*:focus {
  outline: none;
}

img {
  border: none;
  max-width: 100%;
  height: auto;
}

.img-navbar {
  margin: 0px 0 0 10px;
  background-image: url(../images/assets/rimac.png);
  background-repeat: no-repeat;
  width: 160px;
  height: 75px;
  position: absolute;
  top: -1px;
  display: block;
}

.navbar-brand {
  padding: 0px 15px;
}

#logo-01 {
  margin-top: 33px;
  margin-right: 15px;
}

#logo-02 {
  margin-top: 28px;
  margin-left: 15px;
}

.bg-main {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-image: url(../images/bg-main.png);
  background-repeat: no-repeat;
  height: 345px;
  margin: auto;
}

@media (max-width: 768px) {
  .container-group-logo {
    text-align: center;
  }
  #logo-01 {
    margin-right: 15px;
    margin-top: 10px;
    display: inline;
  }
  #logo-02 {
    margin-left: 15px;
    margin-top: 10px;
    display: inline;
  }
  .container-logo {
    background-color: #e6281e;
    width: 100%;
    height: 45px;
  }
  .img-navbar {
    right: 0px !important;
    margin: auto !important;
    position: inherit;
    background-image: url(../images/assets/logo-small.png);
    background-repeat: no-repeat;
    height: 40px;
  }
  .navbar-brand {
    padding: 0px 15px;
  }
}

@media (max-width: 728px) {
  .bg-main {
    padding-top: 48px;
    padding-bottom: 48px;
    background-image: url(../images/bg-md.jpg);
    background-repeat: no-repeat !important;
    height: 608px !important;
  }
}

@media (max-width: 991px) {
  .bg-main {
    padding-top: 48px;
    padding-bottom: 48px;
    background-image: url(../images/bg-md.jpg);
    background-repeat: no-repeat;
    height: 591px;
  }
}

@media (min-width: 1600px) {
  .bg-main {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-image: url(../images/bg-main.png);
    background-repeat: no-repeat;
    height: 345px;
    margin: auto;
    width: 1600px !important;
  }
}

img#logos-A {
  display: inline-block;
  margin: 20px 0 0 20px;
  width: 73px;
  height: 160px;
}

@media (max-width: 492px) {
  img#logos-A {
    margin: 50px 0 0 20px;
    width: 123px;
    height: 190px;
  }
  .contenedorEPS a.btn.btn-primary-1 {
    margin: 0 auto;
  }
  .contenedorEPS {
    margin: 40px 14px 0px 4px;
  }
}

.icn {
  vertical-align: middle;
  margin: 0px 12px 0px 5px;
  display: inline-block;
  background: center no-repeat;
}

.icn-paso-1-rojo {
  margin: 0px 5px;
  background-image: url(../images/iconos/paso-1-rojo.png);
  width: 38px;
  height: 38px;
}

.icn-paso-2-rojo {
  background-image: url(../images/iconos/paso-2-rojo.png);
  width: 38px;
  height: 38px;
}

.icn-paso-3-rojo {
  background-image: url(../images/iconos/paso-3-rojo.png);
  width: 38px;
  height: 38px;
}

.icn-paso-1-gris {
  background-image: url(../images/iconos/paso-1-gris.png);
  width: 38px;
  height: 38px;
}

.icn-paso-2-gris {
  background-image: url(../images/iconos/paso-2-gris.png);
  width: 38px;
  height: 38px;
}

.icn-paso-3-gris {
  background-image: url(../images/iconos/paso-3-gris.png);
  width: 38px;
  height: 38px;
}

.icn-continuar {
  background-image: url(../images/iconos/continuar.png);
  width: 8px;
  height: 14px;
  background-repeat: no-repeat;
}

.icn-anterior {
  background-image: url(../images/iconos/anterior.png);
  width: 11px;
  height: 20px;
  float: left;
}

.icn-siguiente {
  background-image: url(../images/iconos/siguiente.png);
  width: 11px;
  height: 20px;
}

.icn-alerta {
  background-image: url(../images/iconos/alerta.png);
  width: 19px;
  height: 16px;
}

.icn-ok {
  background-image: url(../images/iconos/ok.png);
  width: 34px;
  height: 34px;
}

.icn-interrogacion {
  background-image: url(../images/iconos/interrogacion.png);
  width: 24px;
  height: 24px;
}

.icn-coberturas {
  background-image: url(../images/iconos/coberturas.png);
  width: 18px;
  height: 23px;
  float: left !important;
}

.icn-cerrar {
  background-image: url(../images/iconos/cerrar.png);
  width: 24px;
  height: 24px;
}

.icn-descarga {
  background-image: url(../images/iconos/descarga.png);
  width: 26px;
  height: 26px;
  float: left;
}

.icn-barra {
  background-image: url(../images/iconos/barra.png);
  width: 224px;
  height: 8px;
  top: 5px;
}

#logo {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: right top;
  height: 160px;
  width: 74px;
}

i.crab {
  display: inline-block;
  margin: 50px 0 0 0;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url(../images/assets/z-oncologico.png);
  background-repeat: no-repeat;
  height: 93px;
  width: 131px;
}

i.salud {
  display: inline-block;
  margin: 25px 0 0 0;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url(../images/assets/z-salud.png);
  background-repeat: no-repeat;
  height: 120px;
  width: 91px;
}

i.vehicular {
  display: inline-block;
  margin: 43px 0 0 0;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url(../images/assets/z-brother-car.png);
  background-repeat: no-repeat;
  height: 103px;
  width: 138px;
}

i.vida {
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url(../images/assets/vida.png);
  background-repeat: no-repeat;
  height: 524px;
  width: 417px;
}

i.configure {
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url(../images/assets/s-configure.png);
  background-repeat: no-repeat;
  height: 54px;
  width: 54px;
}

i.consult {
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url(../images/assets/s-consult.png);
  background-repeat: no-repeat;
  height: 54px;
  width: 54px;
}

i.detail {
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url(../images/assets/s-detail.png);
  background-repeat: no-repeat;
  height: 54px;
  width: 54px;
}

i.emergency {
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url(../images/assets/s-emergency.png);
  background-repeat: no-repeat;
  height: 54px;
  width: 54px;
}

i.search {
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url(../images/assets/s-search.png);
  background-repeat: no-repeat;
  height: 54px;
  width: 54px;
}

i.update {
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url(../images/assets/s-update.png);
  background-repeat: no-repeat;
  height: 54px;
  width: 54px;
}

i.banner-01 {
  display: inline-block;
  margin: 0 0px 0 -13px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url(../images/assets/banner.png);
  background-repeat: no-repeat;
  height: 184px;
  width: 285px;
}

i.estar-bien {
  display: inline-block;
  margin: 1px 0 0 -30px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url(../images/assets/brother-bien.png);
  background-repeat: no-repeat;
  height: 149px;
  width: 77px;
}

@media (max-width: 991px) {
  i.estar-bien {
    display: inline-block;
    margin: 18px 0 0 0;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .panel-big .panel-contenido {
    margin: 0 auto;
    text-align: center;
  }
  a.btn.btn-primary-1#btn-final {
    margin-bottom: 35px !important;
  }
}

i.prev {
  display: inline-block;
  margin: 100px 0 0 48px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url(../images/assets/prev.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 11px;
}

i.next {
  display: inline-block;
  margin: 100px 48px 0 0;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url(../images/assets/next.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 11px;
}

i.prev-sm, i.prev-end {
  display: inline-block;
  position: absolute;
  background-image: url(../images/assets/prev.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 11px;
}

i.next-sm, i.next-end {
  display: inline-block;
  position: absolute;
  background-image: url(../images/assets/next.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 11px;
}

@media (max-width: 991px) {
  i.prev-sm {
    display: inline-block;
    position: absolute;
    margin: 100px 0 0 -140px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  i.next-sm {
    display: inline-block;
    position: absolute;
    margin: 100px 0 0 128px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

i.prev-end {
  display: inline-block;
  position: absolute;
  margin: 90px 0 0 -34px;
  padding-top: 0px;
  padding-bottom: 0px;
}

i.next-end {
  display: inline-block;
  position: absolute;
  margin: 88px 0 0 281px;
  padding-top: 0px;
  padding-bottom: 0px;
}

i.brothercito {
  display: inline-block;
  margin: 18px 0px 0 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url(../images/assets/brother-salud.png);
  background-repeat: no-repeat;
  width: 169px;
  height: 231px;
}

i.brothercito-sm {
  display: none;
  margin: -51px 0px 0 -18px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url(../images/assets/brothercito-sm.png);
  background-repeat: no-repeat;
  width: 138px;
  height: 268px;
}

i.ichrome {
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url(../images/assets/ichrome.png);
  background-repeat: no-repeat;
  width: 69px;
  height: 68px;
}

i.iexplorer {
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url(../images/assets/iexplorer.png);
  background-repeat: no-repeat;
  width: 69px;
  height: 68px;
}

i.ifirefox {
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url(../images/assets/ifirefox.png);
  background-repeat: no-repeat;
  width: 69px;
  height: 68px;
}

i.isafari {
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url(../images/assets/isafari.png);
  background-repeat: no-repeat;
  width: 69px;
  height: 72px;
}

i.iclose {
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url(../images/assets/iclose2.png);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

@media (max-width: 392px) {
  img#logos {
    width: 38% !important;
    height: auto;
  }
}

@media (max-width: 768px) {
  .navbar-form {
    margin-bottom: -15px !important;
  }
}

ol li {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

ul li {
  color: #656565;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.form-inline .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.form-group {
  margin-bottom: 8px;
}

.form-control {
  font-family: inherit;
  font-size: 18px;
  cursor: auto;
  border-radius: 4px;
  padding: 0px 10px;
  font-weight: 400;
  border: 2px solid #c8c8c8;
  color: #656565;
  display: block;
  width: 100%;
  height: 40px;
}

.form-currency {
  font-family: inherit;
  font-size: 18px;
  text-align: center;
  cursor: auto;
  border-radius: 4px;
  padding: 12px;
  font-weight: 400;
  border: 2px solid #c8c8c8;
  color: #656565;
  height: 40px;
  width: 100px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"].checkbox {
  cursor: pointer;
}

input[type="checkbox"]:checked + .checkbox:before {
  background: url(../images/iconos/check-selected.png);
}

.has-success {
  border: 2px solid #81be00;
  color: #82bc00;
}

.has-error {
  border: 2px solid #ed1d24;
  color: #ed1d24;
}

.has-inactive {
  border: 2px solid #c8c8c8;
  color: #c8c8c8;
}

.checkbox:before {
  content: "";
  background: url(../images/iconos/check.png);
  display: inline-block;
  margin-right: 5px;
  text-align: center;
  vertical-align: middle;
  height: 19px;
  width: 19px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

.grid {
  margin: 0;
  max-width: 1200px;
  width: 100%;
}

.row {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  text-align: center;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}
